{# {% form_theme form 'tailwind_2_layout.html.twig' %}   #}
{# <div class="w-full">
	<div class="mx-auto w-full md:w-6/12 px-4 md:px-0">
		<label class="font-semibold " {{ form_label(form.nom, null, {
   			 'label_attr': {'class': 'foo'}
		}) }}</label>
		{{ form_start(form) }}
		{{ form_row(form) }}
		{# {{ form_row(form.imageFile) }}  #}
{# <button class="rounded-full border px-4 font-semibold bg-[#93c01d] py-1 text-white">{{ button_label|default('save') }}</button>
		<a class="rounded-full border px-7  py-2 font-semibold  bg-[#93c01d] text-white" href="{{ path('app_apps_index') }}">back to list</a>

		{{ form_end(form) }}
	</div> #}
{# </div>  #}

{{ form_start(form) }}
	<div class="my-custom-class-for-errors"> {{ form_errors(form) }}</div>
<div class="row w-full border px-2 py-16 ">
	<div class="mx-auto w-full md:w-6/12 px-4 md:px-0">
		{{ form_row(form._token) }}

		{{ form_label(form.nom, null, {
				'label_attr': {'class': 'font-semibold'}
			}) }}
		{{ form_errors(form.nom) }}
		{{ form_widget(form.nom) }}
		{{ form_label(form.url, null, {
				'label_attr': {'class': 'font-semibold'}
				}) }}
		{{ form_errors(form.url) }}
		{{ form_widget(form.url) }}
		{{ form_label(form.description, null, {
				'label_attr': {'class':'font-semibold'}
				}) }}
		{{ form_errors(form.description) }}
		{{ form_widget(form.description) }}

		{{ form_label(form.client, null, {
				'label_attr': {'class': 'font-semibold'}
				}) }}
		{{ form_errors(form.client) }}
		{{ form_widget(form.client) }}
		{# <select class="mx-auto w-full md:w-6/12 px-4 md:px-0 mt-1 rounded" name="{{field_name(form.client)}}">
					<option value="">Select an option</option>
					{% for item in client %}
						<option value="{{  item.clientId }}">{{ item.clientId }}</option>
					{% endfor %}
				</select> #}

		<label class="font-semibold ">
			{{ form_label(form.imageFile, null, {
				'attr': {'class': 'py-4'}
				}) }}
		</label>
		{{ form_errors(form.imageFile) }}
		{{ form_widget(form.imageFile,{'attr': {'class': ''}}) }}
	</div>
	<div class="mx-auto w-full md:w-6/12 px-4 py-5 md:px-0">
		<button class="rounded-full border px-4 font-semibold bg-[#93c01d] py-1 text-white">{{ button_label|default('save') }}</button>
		<a class="rounded-full border px-7  py-2 font-semibold  bg-[#93c01d] text-white" href="{{ path('app_apps_index') }}">back to list</a>
	</div>


</div>
{{ form_end(form, {render_rest: false}) }}
