{% extends 'base.html.twig' %}

{% block title %}Application
{% endblock %}

{% block body %}

	<div class="w-11/12 mx-auto mt-5">

		<div class="flex justify-between">
			<h1 class="mt-5 font-bold text-xl mb-5 ">Liste des Applications</h1>
			<a class="rounded-full border px-5 h-10 pt-2 mt-10 font-semibold bg-[#93c01d] text-white" href="{{ path('app_apps_new') }}">Ajouter</a>
		</div>

		<div class="flex flex-col mb-5">
			<div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
				<div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
					<div class="overflow-hidden">
						<table class="min-w-full text-left text-sm font-light border dark:border-neutral-500">
							<thead class="border-b font-medium dark:border-neutral-500 bg-[#145787] text-white ">
								<tr>
									<th scope="col" class="px-6 font-semibold py-4">ID</th>
									<th scope="col" class="px-6 py-4">NOM</th>
									<th scope="col" class="px-6 py-4">URL</th>
									<th scope="col" class="px-6 py-4">DESCRIPTION</th>
									{# <th scope="col" class="px-6 py-4">CLIENT</th> #}
									<th scope="col" class="px-6 py-4">ClIENT</th>
									<th scope="col" class="px-6 py-4">IMAGE</th>
									<th scope="col" class="px-6 py-4">ACTION</th>


								</tr>
							</thead>
							<tbody>
								{% for app in apps %}
									<tr class="border-b dark:border-neutral-500">
										<td class="whitespace-nowrap px-6 py-4">{{ app.id }}</td>
										<td class="whitespace-nowrap px-6 py-4">{{ app.nom }}</td>
										<td class="whitespace-nowrap px-6 py-4">{{ app.url }}</td>
										<td class="whitespace-nowrap px-6 py-4">{{ app.description }}</td>
										<td class="whitespace-nowrap px-6 py-4">{{ app.client }}</td>
										{# <td class="whitespace-nowrap px-6 py-4">{{ app.role }}</td> #}
										<td class="whitespace-nowrap px-6 py-4">
											<div class="circle mr-3  "><img class="h-10 w-20 " src="{{vich_uploader_asset(app, 'imageFile')}}"/></div>
										</td>
										<td class="text-indigo-500 ">
											<a class="rounded-full border px-4 font-semibold bg-[#93c01d] py-1 text-white" href="{{ path('app_apps_edit', {'id': app.id}) }}">Modifier</a>
											<a class="rounded-full border px-4 font-semibold bg-[#93c01d] py-1 text-white" href="{{ path('app_delete', {'id': app.id}) }}">Supprimer</a>
										</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="7">no records found</td>
									</tr>
								{% endfor %}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div>
			{% if previous >= 0 %}
				<a href="{{ path('apps', { id: apps.id, offset: previous }) }}">Previous</a>
			{% endif %}
			{% if next < comments|length %}
				<a href="{{ path('apps', { id: apps.id, offset: next }) }}">Next</a>
			{% endif %}
			{# {{ knp_pagination_render(pagination) }} #}
		</div>

	</div>
{% endblock %}
