<!-- Main navigation container -->

<nav class=" bg-[#145787] dark:bg-gray-900 fixed w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600">
	<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
		<a href="https://flowbite.com/" class="flex items-center">
			<span class="self-center text-2xl font-semibold whitespace-nowrap text-white dark:text-white">One-Portal</span>
		</a>
		<div class="flex md:order-2">
			<a href="{{ path('app_log') }}" type="button" class="text-white bg-[#145787] 0 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0 font-semibold">Se deconnecter</a>
			<button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
				<span class="sr-only">Open main menu</span>
				<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 17 14">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
				</svg>
			</button>
		</div>
		<div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
			<ul
				class="flex flex-col p-4 md:p-0 mt-4 font-medium  md:flex-row md:space-x-8 md:mt-0 dark:bg-gray-800 md:dark:bg-gray-900 ">
				<!-- Team link -->
				{% if is_granted('ROLE_ADMIN') == true %}
					<li class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref>
						<a href="{{ path('app_card') }}" class="p-0 text-white hover:opacity-80 focus:opacity-80 disabled:text-black/30 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400 font-semibold" href="#" data-te-nav-link-ref>Liste des Applications</a>
					</li>
					<li class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref>
						<a href="{{path('app_apps_index')}}" class="p-0 text-white hover:opacity-80 focus:opacity-80 disabled:text-black/30 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400 font-semibold" href="#" data-te-nav-link-ref>Administration</a>
					</li>

				{% endif %}
				{% if is_granted('ROLE_USER') == true %}

					<li class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref>
						<a href="{{ path('app_user')}}" class="p-0 text-white hover:opacity-80 focus:opacity-80 disabled:text-black/30 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400 font-semibold" href="#" data-te-nav-link-ref>Mes Applications</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>


{# <nav class="relative flex w-full flex-wrap items-center justify-between px-10 bg-[#145787] py-2 text-white shadow-lg lg:flex-wrap lg:justify-start lg:py-4" data-te-navbar-ref>
	<div
		class="flex w-full flex-wrap items-center justify-between px-3">
		<!-- Hamburger button for mobile view -->
		<button
			class="block border-0 bg-transparent px-2 text-neutral-200 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 lg:hidden" type="button" data-te-collapse-init data-te-target="#navbarSupportedContent4" aria-controls="navbarSupportedContent4" aria-expanded="false" aria-label="Toggle navigation">
			<!-- Hamburger icon -->
			<span class="[&>svg]:w-7">
				<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" class="h-7 w-7">
					<path fill-rule="evenodd" d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z" clip-rule="evenodd"/>
				</svg>
			</span>
		</button>

		<!-- Collapsible navigation container -->
		<div
			class="!visible mt-2 hidden flex-grow basis-[100%] items-center lg:mt-0 lg:!flex lg:basis-auto" id="navbarSupportedContent4" data-te-collapse-item>
			<!-- Navbar title -->
			<a class="text-xl font-semibold border-r-2 pr-6 mr-4 border-white-500 text-white" href="#">One-portal</a>
			<!-- Left navigation links -->
			<ul
				class="list-style-none mr-auto flex flex-col pl-0 lg:flex-row" data-te-navbar-nav-ref>

				<!-- Team link -->
				{% if is_granted('ROLE_ADMIN') == true %}
					<li class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref>
						<a href="{{ path('app_card') }}" class="p-0 text-white hover:opacity-80 focus:opacity-80 disabled:text-black/30 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400" href="#" data-te-nav-link-ref>Liste des Applications</a>
					</li>
					<li class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref>
						<a href="{{path('app_apps_index')}}" class="p-0 text-white hover:opacity-80 focus:opacity-80 disabled:text-black/30 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400" href="#" data-te-nav-link-ref>Administration</a>
					</li>

				{% endif %}
				{% if is_granted('ROLE_USER') == true %}

					<li class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref>
						<a href="{{ path('app_user') }}" class="p-0 text-white hover:opacity-80 focus:opacity-80 disabled:text-black/30 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400" href="#" data-te-nav-link-ref>Mes Applications</a>
					</li>
				{% endif %}


				<!-- Projects link -->

			</ul>
		</div>

		<!-- Right elements -->
		<div class="relative flex items-center">
			<div
				class="relative" data-te-dropdown-ref>


				{# {{ app.user.userIdentifier }} #}
				<a href="{{ path('app_log') }}" class="pl-6 ml-4 font-semibold text-white border-l-2">Se Deconnecter</a>
			</div>
		</div>
		<!-- Right elements -->
	</div>
{# </nav>  #}
